h1{
    text-align: center;
}
div.album{
    display: flex;
}
.imagen{
    position: relative;
    width: 460px;
    height: auto;
    margin: 1%;
    
}
.i1{
    background-color: #E0D2D0;
    background-image: url("img/camera.svg");
    background-repeat: no-repeat;
    background-size: 150px 150px;
    background-position-x: 155px;
    background-position-y: 30%;
}
.i2{
    background-color: #A9B010;
    background-image: url("img/nature.svg");
    background-repeat: no-repeat;
    background-size: 150px 150px;
    background-position-x: 155px;
    background-position-y: 30%;
}
.i3{
    background-color: #B4A8CE;
    background-image: url("img/transport.svg");
    background-repeat: no-repeat;
    background-size: 150px 150px;
    background-position-x: 155px;
    background-position-y: 30%;
}

#img{
    width: 460px;
    transition: opacity 1s;
}

#img:hover{
    opacity: 0.5;
}
body{
    font-family: 'Raleway', sans-serif;
}
