/*###############################RESET CSS###############################################*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*############################### RESET CSS###############################################*/
/*############################### ESTILOS BASE ###############################################*/

@font-face{
    font-family: "helveticaneue";
    src: url('font/HelveticaNeue.ttf') format(truetype);
}
body{
    font-family: helveticaneue, Arial, sans-serif;
    color: white;
    font-size: 15px;
    line-height: 1.4;
}
.contenedor{
    width: 1140px;
    height: 100%;
    margin: 0 auto;
}
/*============================Encabezado - Header ===========================*/
.encab-pagina{
    height: 66px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
}
.logo img {
    height: 20px;  
}
.encab-pagina .logo{
    float: left;
    padding-top: 23px;
    box-sizing: border-box;
} 
.encab-pagina .nav-principal {
    float: right;
}
.nav-principal li{
    float: left;
    margin-left: 80px;
}
.nav-principal li a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 66px;
}
.nav-principal li a:hover{
    color: red;
}
/*============================ Principal- Main ===========================*/
/*============================ Banner ===========================*/
.banner {
    height: 612px;
    background-image: url(../img/banner.png);
    background-size: cover;
    padding-top: 230px;
    box-sizing: border-box;
}
.bloque-banner {
    margin-left: auto;
    margin-right: auto;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}
h1{
    text-transform: uppercase;
}

.subtitle{
    font-size: 21px;
    font-weight: 300;
    margin: 25px 0;
}
.ver-mas {
    display: block;
    padding: 20px 30px;
    color: inherit;
    text-transform: uppercase;
    background: #ca0500;
    font-size: 14px;
    text-decoration: none;
    width: 166px;
    margin: 0 auto;
    box-sizing: border-box;
}
.ver-mas:hover{
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
    border: 1px solid red;
}

/*============================ articulos =================================*/

.articulos{
    background: #1b1b1b; /* Old browsers */
background: -moz-linear-gradient(-20deg, #1b1b1b 0%, #1b1b1b 50%, #ffffff 50%, #ffffff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-20deg, #1b1b1b 0%,#1b1b1b 50%,#ffffff 50%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(95deg, #1b1b1b 0%,#1b1b1b 50%,#ffffff 50%,#ffffff 100%);
}
article:first-of-type{
    padding-right: 65px;
}
article:last-of-type{
    color: black;
    padding-left: 65px;
}
.articulos>.contenedor::after, .pie-pagina>.contenedor::after{
    content: '.';
    font-size: 0;
    height: 1px;
    width: 100%;
    display: block;
    clear: both;
}

article{
    width: 50%;
    padding-top: 60px;  
    float: left;
    box-sizing: border-box;
}

h2{
    font-size: 36px;
    font-weight: 300;
}
.cita{
    font-size: 22px;
    font-style: italic;
    font-weight: 300;
    margin-bottom: 25px;
}
.texto{
    font-weight: 300;
    margin-bottom: 60px;
}
h2::after{
    content: '.';
    font-size: 0;
    height: 2px;
    width: 38px;
    background: #ca0500;
    display: block;
    margin: 25px 0 28px;
}


/*============================ pie de página =================================*/

.pie-pagina{
    background-color: #111111;
    padding-top: 25px;
}
.col-pie{
    width: 25%;
    float: left;
}
.pie-pagina h3 {
    font-size: 13px;
    text-transform: uppercase;
}
.pie-pagina h3::after {
    
    content: '.';
    font-size: 0px;
    width: 90%;
    height: 1px;    
    background-color: #292929;
    display: block;
    margin: 15px 0;
}
.pie-pagina li {
    line-height: 1.8;
    font-size: 13px;
    color:  #999;
}
.pie-pagina li:hover {
    
    color:  white;
}
.copyright{
    color: #585858;
    margin-top: 32px;
}
.social a {
    display: block;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: black;
    color: white;
    text-align: center;
    line-height: 44px;
}
.social a:hover {
    background-color: white;
    color: red;
}
.social li {
    display: inline-block;
    cursor: pointer;
}


/*======================================================================*/