body{
    border: 20px solid #bdc3c7;
    padding: 20px;
    width: 80%;
    max-width: 700px;
    margin: 20px auto;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: justify;
}
h2{
    color: #2c3e50;
    text-transform: capitalize;
    font-size: 2.0rem;
}
div{
    margin-bottom: 20px;
}
.enfasis{
    border-left: 5px solid #bdc3c7;
    padding-left: 5px;
}
.fecha{
    color:  #3498db;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
