.componentes {
    display: flex;
    
}
.tarjeta{
    background-color: rgb(209, 195, 195);
    margin: 2%;
    width: 12%;
}

.pizarra {
    width: 800px;
    height: 600px;

}

#figura {
    position: relative;
    background-color: red;
    width: 50px;
    height: 50px;
    left: 0;
    top: 0;
    opacity: 1;
    border-radius: 0%;
}

.sliderVertical {
    display: inline-block;
    width: 20px;
    height: 150px;
    padding: 0;
}

.sliderVertical input {
    width: 150px;
    height: 20px;
    margin: 0;
    transform-origin: 15px 15px;
    transform: rotate(90deg);
}

.rgba {
    display: flex;
    flex-direction: column;
}

