div.encabezado{
    width: 100%;
    display: flex;
}
h1{
    width: 65%;
    color: #000080;
    text-align: center;
    
}
h4{
    width: 20%;
    
}
img{
    
    width: 15%;
}
h2{
    letter-spacing: 5px;
    text-transform: uppercase;
    text-align: center;
}
table{
    font-family: 'Source Code Pro', monospace;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid black;
}
th, td{
    border-collapse: collapse;
    border: 1px solid black;
}