h1{
    text-align: center;
}
table{
    margin: auto;
    
}
td{
    width: 100px;
    height: 100px;
}
.verticales{
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.horizontales{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}